.div-base {
	color: whitesmoke;
	background-color: #272727;
	position: center;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	border: 3px solid black;
	overflow: auto;
	padding: .5em;
}

.form-register {
	color: whitesmoke;
	background-color: black;
	position: left;
	text-align: left;
	vertical-align: middle;
	border: 3px solid black;
	overflow: auto;
	padding: .5em;
	width: 90%;
	height: 35px;
	font-size: 25px;
}

html {
	font-family: 'Arial Black';
}

body {
	margin: 0px 0px 0px 0px;
	height: 100%;
}

input.login-field {
	padding: 8px;
	border-radius: 8px;
	width: 60%;
	height: 45px;
	border: 2px solid black;
	background-color: black;
	font-size: 20px;
	font-family: "Lexend Deca";
}


#registerDiv {
	border-radius: 15px;
	border: 2px solid #686869;
	padding: 25px;
	background-color: black;
	height: 100%;
	margin: 4%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	color: white;
	display: table;
}

#registerField {
	width: 90%;
	height: 35px;
	font-size: 25px;
	background-color: black;
	color: white;
	display: inline-block;
}


#stripedbg {
	color: white;
	position: top;
	background: repeating-linear-gradient(-55deg,
			#222,
			#222 10px,
			#333 10px,
			#333 20px);
	height: 15vh;
	text-align: center;
}

#regConfirm {
	border-radius: 0px;
	border: 2px solid #686869;
	padding: 25px;
	background-color: black;
	width: 97%;
	height: 80%;
	margin-top: 4%;
	text-align: center;
	color: white;
}

#aligncontainer {
	position: relative;

}

#center {
	margin: 0;
	position: absolute;
	left: 50vh;
}


ul.sidebar {
	list-style-type: none;
	color: whitesmoke;
	margin: 0;
	margin-top: 0vh;
	padding: 0;
	width: 15%;
	background-color: #272727;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a {
	display: block;
	color: black;
	/* or whitesmoke */
	padding: 8px 16px;
	text-decoration: none;
}

li a.navbar {
	color: #000;
	text-decoration: none;
}

li a.active {
	background-color: #818181;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}


#editField {
	width: 40%;
	height: 35px;
	font-size: 25px;
	background-color: white;
	color: black;
	box-align: center;
	display: inline-block;
	text-align: center;
}

.header {
	height: 100vh;
}

.navbar-style {
	box-shadow: 0 5px 10px #000;
}

.logo {
	height: 48px;
	padding: 2px 10px;
}

.flex-secret-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.flex-container-general {
	display: flex;
	flex-flow: column;
	justify-content: left;
	align-items: left;
	color: rgb(240, 240, 240);
	text-align: left;
	text-transform: uppercase;
	text-shadow: 3px 3px black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	background-color: #272727;
	border: 10px solid black;

	/* border: 2px solid green; */
}

.flex-container-row2 {
	display: flex;
	flex-flow: row;
	justify-content: left;
	align-items: center;
	margin: 10px;
	color: rgb(240, 240, 240);
	width: auto;
	background-color: #272727;

	/* border: 2px solid red; */
}

.flex-container-column2 {
	display: flex;
	flex-flow: column;
	justify-content: start;
	align-items: start;
	margin: 10px;
	color: white;
	width: auto;
	background-color: #272727;

	/* border: 2px solid blue; */
}

.flex-checkout-main {
	height: 100%;
	display: flex;
	border: 4px solid black;
	color: white;
	background-color: black;
}

.flex-checkout-left {
	flex: 1 1 0;

	background-color: black;
}

.flex-checkout-right {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	background-color: black;
}

.flex-half {
	flex: 1;
	overflow: auto;
	padding: 10px;
	border: 4px solid black;
	background-color: #272727;
}

.flex-container-homepage {
	display: flex;
	flex-direction: row;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: #272727;
	border: 5px solid black;
}

.flex-container-row {
	display: flex;
	flex-flow: row;
	justify-content: left;
	align-items: center;
	color: rgb(240, 240, 240);
	width: auto;
	background-color: #272727;
}

.flex-container-column {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: auto;
	background-color: #272727;
}

.flex-homepage-latest-movie {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background-color: #272727;
	margin: 10px;
}

.flex-entry-container {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #272727;
	border: 5px solid black;
}

.flex-entry-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 5px;
	flex-grow: 1;
}

.flex-entry-content-line {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	color: whitesmoke;
}

.div-center-spread {
	background-color: #272727;
	border: 5px solid black;
	background-image: url(images/cinemaBackground.png);
	position: top;
	height: 90%;
	text-align: center;
	vertical-align: middle;
	padding-top: 30vh;
	padding-bottom: 30vh;
	padding-right: 20vh;
	padding-left: 20vh;
}

.div-center-label {
	background-color: #272727;
	border: 16px solid black;
	position: top;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	padding-top: 5vh;
	padding-bottom: 10vh;
	padding-right: 20vh;
	padding-left: 20vh;
}

.div-center-label-item {
	height: 20em;
	width: 13em;
	padding-right: 40em;
	padding-top: 5em;
	padding-bottom: 20em;
	float: left;
}

.div-browse-search {
	color: whitesmoke;
	background-color: #272727;
	position: left;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: .5em;
	padding-left: .5em;
}

.div-browse-entry {
	overflow-wrap: break-word;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	color: whitesmoke;
	background-color: #272727;
	position: left;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	border: 16px solid black;
	padding: .5em;
}

.div-browse-text {
	width: 100%;
	float: left;
	padding: 1em;
}

.div-book-chart {
	color: whitesmoke;
	background-color: #272727;
	border: 16px solid black;
	height: auto;
	width: auto;
	overflow: auto;
	text-align: center;
	padding: .5em;
}

.div-book-fields {
	color: whitesmoke;
	background-color: #272727;
	border: 16px solid black;
	height: 37vh;
	width: auto;
	overflow: auto;
	text-align: center;
	padding: .5em;
}

.div-promo-fields {
	color: whitesmoke;
	background-color: #272727;
	border: 16px solid black;
	height: 94.5vh;
	width: auto;
	overflow: auto;
	text-align: center;
	padding: .5em;
}

.div-bg-fill {
	background-color: #272727;
	height: 56vh;
}

.text-main {
	color: rgb(240, 240, 240);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px black;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
}

.text-sub {
	color: rgb(240, 240, 240);
	text-align: center;
	text-shadow: 1px 1px black;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin: 10px;
}

.text-description {
	color: rgb(240, 240, 240);
	text-align: left;
	text-shadow: 1px 1px black;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

.text-small {
	color: rgb(240, 240, 240);
	text-align: left;
	text-shadow: 1px 1px black;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;
}

.img-movie-poster {
	height: 68vh;
}

.img-browse-entry {
	float: left;
	background: #272727;
	width: 25%;
	height: auto;
	left: 0px;
	right: 0px;
}

.img-flex {
	float: left;
	background: #272727;
	object-fit: contain;
	max-width: 15%;
	min-width: 15%;
	left: 0px;
	right: 0px;
}

.img-book-chart {
	background: #272727;
	float: center;
	position: center;
}

.button-book-now {
	width: fit-content;
	height: auto;
	background-color: white;
	font-size: 20px;
	padding: 7px 32px;
	color: black;
	border-radius: 15px;
	border: 4px solid black;
	text-align: center;
}

.button-book-admin {
	background-color: #272727;
	border: 4px solid gold;
	color: white;
	padding: 7px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 15px;
	font-size: 20px;
}

.button-book-now:hover {
	background-color: #272727;
	border-color: red;
	color: whitesmoke;
	cursor: pointer;
}

.button-book-admin:hover {
	background-color: gold;
	color: #272727;
	cursor: pointer;
}