html {
	font-family: 'Arial Black';
}

body {
	margin: 0px 0px 0px 0px;
	height: 100%;
}

input.login-field {
	padding:8px;
	border-radius: 8px;
	width:60%;
	height: 45px;
	border:2px solid black;
	background-color: #cc0800;
	font-size: 20px;
	font-family: "Lexend Deca";
}


#registerDiv {
	border-radius: 15px;
	border: 2px solid #686869;
	padding: 25px; 
	background-color: black; 
	height: 100%;
	margin: 4%;
	margin-left: 0%; 
	margin-right: 0%;
	margin-bottom: 0%;	
	color: white;
	display: table; 
}

#registerField {
	width: 90%;
	height: 35px;
	font-size: 25px;
	background-color: black;
	color: white;
	align: center;
	display: inline-block;
}


#stripedbg {
  	color: white;
	position: top;
  	background: repeating-linear-gradient(
    	-55deg,
    	#222,
    	#222 10px,
    	#333 10px,
    	#333 20px
  );
	height: 15vh;
	text-align: center;
}

#regConfirm {
	border-radius: 0px;
	border: 2px solid #686869;
	padding: 25px; 
	background-color: black; 
	width: 97%;
	height: 80%;
	margin-top: 4%;
	text-align: center;
	color: white;
}

#aligncontainer {
	position: relative;

}

#center {
	margin: 0;
	position: absolute;
	left: 50vh;
}

ul.sidebar {
	list-style-type: none;
	margin: 0;
	margin-top: 0vh;
	padding: 0;
	width: 15%;
	background-color: #e6e6e6;
	position: fixed;
	height: 100%;
	overflow: auto;
}
  
li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a.navbar {
	color: #000;
	text-decoration: none;
}

li a.active {
	background-color: #818181;
	color: white;
}
  
li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

#editField {
	width: 40%;
	height: 35px;
	font-size: 25px;
	background-color: white;
	color: black;
	box-align: center;
	display: inline-block;
	text-align: center;
}

.header {
    height: 100vh;
}

.navbar-style {
    box-shadow: 0 5px 10px #000;
}

.logo {
    height: 48px;
    padding: 2px 10px;
}

.div-center-spread {
	color: black;
	position: top;
	height: 90%;
	text-align: center;
	vertical-align: middle;
	padding-top:30vh;
  	padding-bottom:30vh;
	padding-right: 20vh;
	padding-left: 20vh;
  	background: repeating-linear-gradient(
    	-55deg,
    	#222,
    	#222 10px,
    	#333 10px,
    	#333 20px
  );
}

.div-center-label {
	color: black;
	position: top;
	height: 24%;
	text-align: center;
	vertical-align: middle;
	padding-top:5vh;
  	padding-bottom:5vh;
	padding-right: 20vh;
	padding-left: 20vh;
  	background: repeating-linear-gradient(
    	-55deg,
    	#222,
    	#222 10px,
    	#333 10px,
    	#333 20px
  );
}

.div-browse-search {
	color: whitesmoke;
	background-color: #272727;
	position: left;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	padding-top:2vh;
  	padding-bottom:2vh;
	padding-right: .5em;
	padding-left: .5em;
}

.div-browse-entry {
	color: whitesmoke;
	background-color: #272727;
	position: left;
	height: 100%;
	text-align: left;
	vertical-align: middle;
	border: 3px solid red;
    overflow:auto;
	padding: .5em;
}

.div-browse-text {
	float: left;
	padding: 1em;
}

.text-main {
    color: rgb(200, 200, 200);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px red;
	vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
}

.text-sub {
    color: rgb(200, 200, 200);
    text-align: center;
    text-shadow: 1px 1px red;
	vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

.text-description {
	color: rgb(200, 200, 200);
    text-align: left;
    text-shadow: 1px 1px red;
	vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

.img-browse-entry {
    float: left;
    background: #000;
	width: 25%;
    height: auto;
    left: 0px;
    right: 0px;
}

.button-book-now {
	background-color: #272727;
	border: 2px solid red;
  	color: whitesmoke;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.button-book-now:hover {
	background-color: whitesmoke; /* Green */
	color: #272727;
	cursor: pointer;
  }